@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
    --bg-dark: #0e0e0e;
    --card-bg: #1a1a1a;
    --input-bg: #2a2a2a;
    --border-color: #444;
    --white: #ffffff;
    --text-secondary: #bbbbbb;
    --accent: #ffffff;
}

body {
    background-color: black;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.login-form {
    background: var(--card-bg);
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.08);
    width: 100%;
    max-width: 400px;

    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);

}

.login-form h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 26px;
    color: var(--accent);
}

.login-form label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
    color: var(--text-secondary);
}

.login-form input,
.login-form select {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 15px;
    background: var(--input-bg);
    color: var(--white);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-form input:focus,
.login-form select:focus {
    border-color: var(--accent);
    background-color: #333;
    outline: none;
}

.login-form button {
    width: 100%;

    padding: 12px;
    background: var(--white);
    color: #111;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

}

.login-form button:hover {
    background-color: #e5e5e5;
    color: #000;
}

.signup-text {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: var(--text-secondary)
}

.signup-text a {
    color: var(--white);
    text-decoration: underline;
    font-weight: 500;

}

.signup-text a:hover {
    opacity: 0.8;
}