.login-container {
  background-color: #0a0a0a; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form {
  background-color: #121212;
  border: 1px solid #1f1f1f;
  padding: 35px 30px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 0 12px rgba(0, 217, 255, 0.2);
}

.login-form h2 {
  text-align: center;
  background: linear-gradient(to right, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 26px;
  margin-bottom: 20px;
}

.login-form label {
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}

.login-form input {
  width: 100%;
  padding: 10px 12px;
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: border 0.3s;
}

.login-form input:focus {
  border-color: #00d9ff;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #0056c4;
}

.login-form p {
  color: #ccc;
  text-align: center;
  margin-top: 14px;
  font-size: 13px;
}

.login-form a {
  color: #00d9ff;
  text-decoration: none;
  font-weight: bold;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form select {
  width: 100%;
  padding: 10px;
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 14px;
}

.login-form select:focus {
  border-color: #00d9ff;
  outline: none;
}

 
@media screen and (max-width: 480px) {
  .login-form {
    width: 90%;
    padding: 28px 20px;
  }

  .login-form h2 {
    font-size: 22px;
  }

  .login-form input,
  .login-form select,
  .login-form button {
    font-size: 14px;
    padding: 10px;
  }

  .login-form p {
    font-size: 12px;
  }
}
