@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    background-color: #0b0f13;
    color: white;
    font-family: 'poppins ', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    background: rgba(20,20,40,0.6);
   backdrop-filter: blur(8px);
    overflow: hidden;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-blur-bg {
    position: absolute;
    top: -150px;
    left: -150px;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, #00fff7 0%, transparent 70%);
    opacity: 0.12;
    filter: blur(120px);
    pointer-events: none;
    z-index: 0;
}

.navbar-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-link {
    font-size: 2 rem;
    font-weight: 700;
    color: #f472b6;
    text-decoration: none;
    text-shadow: 0 0 8px  #f472b6;

}

.tagline {
    font-size: 0.75rem;
    color: #cbd5e1;
    margin-top: 4px;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li a,
.nav-links li button.logout-btn {
    color: #f1f5f9;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    position: relative;
}

.nav-links li a:hover,
.nav-links li button.logout-btn:hover {
    color: #38dbf8;
    text-shadow: 0 0 8px #38dbf8;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid  rgba(255,255,255,0.15);border-radius: 20px;
    
    height: 36px;
    margin-left: 20px;
    /* box-shadow: 0 0 10px #00fff7; */
}

.search-box input {
    border: none;
    background: transparent;
    padding: 10px 12px;
    color: #e5e7eb;
    font-size: 1rem;
    width: 160px;
    outline: none;
}


.search-box button {
    background: none;
    border: none;
    color:  #60a5fa;
    padding: 4px 8px;
    cursor: pointer;
    transition:  color 0.3s ;
    font-size: 1rem;
}

.search-box button:hover {
    background: #3b82f6;
}